<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>

<h1>Login</h1>

<p th:if="${loginError}">Wrong email and / or password</p>

<p th:if="${logout}">You've been logged out</p>

<form action="/login" method="POST">
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="username"><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br>

    <input type="submit" value="LOG IN">
</form>

</body>
</html>