<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">Posts</title>
</head>
<body>
<!--TODO posts selection here-->
    <h1 th:text="${header}">Posts</h1>
    <section th:text="${description}">Selected posts</section>
    <a th:href="@{ /web/test ( id=${creator.id} ) }"><section th:text="${creator.username}">Creator</section></a>
    <section th:text="${creationDate}">Creation date</section>
    <article th:each="post : ${posts}">
        <a th:href="@{ /web/post ( id=${post.id} ) }"><h2 th:text="${post.title}">Post title</h2></a>
    </article>
</body>
</html>